.ham_btn {
  position: fixed;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  transition: all 2s linear; }
  .ham_btn .btn_line {
    width: 30px;
    height: 4px;
    margin: 0 0 6px 0;
    background: #4169e1;
    transition: all 2s linear; }
  .ham_btn.close {
    transform: rotate(180deg); }
    .ham_btn.close .btn_line {
      background: #ff0000; }
      .ham_btn.close .btn_line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .ham_btn.close .btn_line:nth-child(2) {
        opacity: 0; }
      .ham_btn.close .btn_line:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -9px); }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #333;
  color: #e0e0e0;
  height: 100vh;
  margin: 0;
  font-family: 'Fira Code', monospace;
  line-height: 1.65; }
  body#bg_img {
    background: url(/img/mountains_resize.png);
    background-attachment: fixed;
    background-size: cover; }
    body#bg_img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: rgba(51, 51, 51, 0.825); }

h1, h2, h3 {
  margin: 0;
  font-weight: 500; }
  h1.large_hd, h2.large_hd, h3.large_hd {
    font-size: 4rem;
    font-weight: 700; }
  h1.small_hd, h2.small_hd, h3.small_hd {
    font-size: 2rem;
    margin-bottom: 1rem; }

a {
  text-decoration: none;
  color: #4169e1; }

header {
  position: fixed;
  z-index: 2; }

.text_sec {
  color: #4169e1;
  font-weight: 900;
  transition: color 1.5s; }
  .text_sec:hover {
    color: #fdf666;
    transition: color 1.5s; }

main {
  padding: 5rem;
  height: 100%; }
  main .icons {
    margin: 1rem; }
    main .icons a {
      display: inline-block;
      padding: 0.5rem;
      color: #4169e1;
      transition: all 1.5s; }
      main .icons a:hover {
        color: #fdf666;
        transition: all 2s linear;
        transform: translate(0, -8px) scale(1.25) rotate(1turn);
        transition: all 1.25s; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
