@include xlarge {

}

@include large {

}

@include medium {
    main {
        align-items: center;
        text-align: center;
        .large_hd {
            line-height: 1.25;
            margin-bottom: 1rem;
        }
    }
    ul.menu_nav,
    div.menu_bran {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu {
        display: flex;
        flex-flow: column-reverse wrap;
    }
    .menu_nav {
        height: 50vh;
        transform: translate3d(384px, 0, 0);
        font-size: 1.5rem;
    }
    .menu_bran {
        height: 50vh;
        transform: translate3d(-384px, 0, 0);
        .bran_port {
            width: 45vw;
            height: 45vw;
        }
    }
}

@include small {
    main {
        &#home {
            padding: 3vh;
        }
        align-items: center;
        text-align: center;
        line-height: 1.0;
        h1.large_hd {
            font-size: 3.5rem;
            margin-top: 10vh;
            margin-bottom: 2.5rem;
        }
        h2.small_hd {
            font-size: 1.75rem;
            margin-bottom: 2.5rem;
            line-height: 1.2;
        }
        .menu_nav {
            font-size: 0.75rem;
        }
    }
}