@include xlarge {

}

@include large {
    body {
        overflow: visible;
    }
    .my_work {
        grid-template-columns: repeat(2, 1fr);
    }

}

@include medium {
    body {
        overflow: visible;
    }
    main {
        padding: 2rem;
        align-items: center;
        text-align: center;
        .large_hd {
            line-height: 1.25;
            margin-bottom: 1rem;
        }
    }
    .menu_nav,
    .menu_bran {
        float: none;
        width: 100vw;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu {
        display: flex;
        flex-flow: column-reverse wrap;
    }
    .menu_nav {
        height: 60vh;
        transform: translate3d(100%, 0, 0);
    }
    .menu_link {
        padding: 0.75rem;
        font-size: 1.75rem;
    }
    .menu_bran {
        height: 40vh;
        transform: translate3d(-100%, 0, 0);
    }
    .bran_port {
        height: 150px;
        width: 150px;
    }
    .about_info {
        grid-template-columns: 1fr;
        grid-template-areas:
        'bio_img'
        'bio'
        'job_1'
        'job_2'
        'job_3';
    }
    .bran_port.show {
        height: 250px;
        width: 250px
    }
    .my_work {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include small {
    main {
        padding: 1rem;
        &#home {
            padding: 1rem;
        }
        align-items: center;
        text-align: center;
        line-height: 1.0;
        h1.large_hd {
            font-size: 3.5rem;
            margin-top: 10vh;
            margin-bottom: 2.5rem;
        }
        h2.small_hd {
            font-size: 1.75rem;
            margin-bottom: 2.5rem;
            line-height: 1.2;
        }
        .menu {
            .menu_link {
                padding: 0.5rem;
                font-size: 1rem;
            }
        }
    }
    .menu .nav_link {
        font-size: 1.75rem;
    }
    .bran_port.show {
        height: 150px;
        width: 150px
    }
    .my_work {
        grid-template-columns: 1fr;
    }
    #home {
        // overflow: hidden;
        h1 {
            margin-top: 15vh;
        }
    }
}